{% extends "students_survey/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Опрос студентов{% endblock %}

{% block content %}
<form action="{% url 'survey_questions_page1' %}" style="width: 90%;" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-control" style="margin-bottom: 2%;">
        <p>{{ field.label }}</p>
        {{ field }}
    </div>
    {% endfor %}

    <input type="submit" class="btn btn-success" style="margin: 2% 0" value="Отправить">
</form>
{% endblock %}

{% block script %}
<script>
let q1_dop_yes = document.getElementById("id_q1_1");
let q1_dop_no = document.getElementById("id_q1_0");

let q18_dop_no = document.getElementById("id_q18_0");
let q18_dop_yes = document.getElementById("id_q18_1");

let q1_dop_input = document.getElementById("id_1-q1_dop");
q1_dop_input.setAttribute("disabled", "true")

let q18_dop_input = document.getElementById("id_q18_dop");
q18_dop_input.setAttribute("disabled", "true")

q1_dop_yes.addEventListener('click', (event) => {
    q1_dop_input.removeAttribute("disabled")
});

q1_dop_no.addEventListener("click", (event) => {
    q1_dop_input.setAttribute("disabled", "true")
})

q18_dop_no.addEventListener("click", (event) => {
    q18_dop_input.setAttribute("disabled", "true")
})

q18_dop_yes.addEventListener("click", (event) => {
    q18_dop_input.removeAttribute("disabled")
})
</script>
{% endblock %}