{% extends "students_survey/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}Опрос студентов{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<h5 style="margin-top: 3%; margin-bottom:2%;">Шаг {{ wizard.steps.step1 }} из {{ wizard.steps.count }}</h5>

{% if wizard.steps.index == 2 %}
<h2>Критерии вашего лучшего преподавателя</h2>
<p>Вы указали его на прошлом шаге (шаг №2)</p>
{% elif wizard.steps.index == 3 %}
<h2>Критерии вашего худшего преподавателя</h2>
<p>Вы указали его на позапрошлом шаге (шаг №2)</p>
{% endif %}
<form action="{% url 'survey_questions_page' %}" method="post" style="
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    width:80%;
">
    {% csrf_token %}

{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form|crispy }}
    {% endfor %}
{% else %}
    {% for field in wizard.form %}
        <div class="form-control" style="margin-bottom: 2%">
            <div class="check-form">
                <p style="font-size: 110%; font-weight: 500;">{{ field.label }}</p>
                {{ field }}
            </div>
        </div>
    {% endfor %}

{% endif %}
    <div class="buttons" style="margin-top: 2%;display: flex;flex-direction: column;align-content: center;align-items: stretch; flex-wrap: wrap;">
        {% if wizard.steps.prev %}
        <button name="wizard_goto_step" class="btn btn-secondary" type="submit" value="{{ wizard.steps.prev }}">Предыдущий шаг</button>
        {% endif %}

            {% if wizard.steps.last %}
        <input type="submit" class="btn btn-success" style="margin-top: 2%; margin-bottom: 2%; padding: 10px 40px" value="Отправить"/>
            {% else %}
            <input type="submit" class="btn btn-success" style="margin-top:2%" value="Далее"/>
            {% endif %}
    </div>
    </form>

{% endblock %}

{% block script %}
<script>
let q1_dop_yes = document.getElementById("id_1-q1_1");
let q1_dop_no = document.getElementById("id_1-q1_0");

let q18_dop_no = document.getElementById("id_1-q18_0");
let q18_dop_yes = document.getElementById("id_1-q18_1");

let q1_dop_input = document.getElementById("id_1-q1_dop");
q1_dop_input.setAttribute("disabled", "true")

let q18_dop_input = document.getElementById("id_1-q18_dop");
q18_dop_input.setAttribute("disabled", "true")

q1_dop_yes.addEventListener('click', (event) => {
    q1_dop_input.removeAttribute("disabled")
});

q1_dop_no.addEventListener("click", (event) => {
    q1_dop_input.setAttribute("disabled", "true")
})

q18_dop_no.addEventListener("click", (event) => {
    q18_dop_input.setAttribute("disabled", "true")
})

q18_dop_yes.addEventListener("click", (event) => {
    q18_dop_input.removeAttribute("disabled")
})
</script>
{% endblock %}